[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[packages]
langchain = "*"
python-dotenv = "*"
ipython = "*"
streamlit = "*"
langchain-openai = "*"
testcontainers = "*"
pymongo = "*"
pytest = "*"
pytest-asyncio = "*"
fastapi = "*"
